.controlButton {
	-webkit-border-radius: 12;
	-moz-border-radius: 12;
	border-radius: 12px;
	font-family: Arial;
	color: #E1FBFF;
	font-size: 16px;
	font-weight: 600;
	background-color: #21393d;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	border: none;
	cursor: pointer;
	text-align: center;
    width: 35%;
	margin-bottom: 1rem;
}

.heading {
	font-size: x-large;
	font-weight: 700;
	color: #00677a;
	margin-top: 0.5rem;
}

.card {
	width: 100%;
	display: flex;
	padding: 0 0.5rem;
	justify-content: space-between;
	margin: 0.5rem;
}

.infoItem {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0.5rem;
	font-size: 16px;
	border: none;
	color: #E1FBFF;
    background-color: #00677a;
	border-radius: 0.5rem;
	font-weight: 400;
}

.personalInfo {
	width: 95%;
	margin: 1rem 0;
	padding: 1rem 1rem 1rem;
	background: #21393d;
	color: white;
	font-size: 16px;
	border-radius: 1rem;
}

.detail {
	margin-top: 0.5rem;
}

.label {
	font-weight: 300;
}

.field {
	background-color: #E1FBFF;
	color: #21393d;
	padding: 0.5rem 0.75rem;
	border: none;
	border-radius: 0.5rem;
	margin: 0.25rem;
	width: 100%;
	font-size: large;
}

.flex {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.rating {
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	border: 2px solid #21393d;
	color: #21393d;
	font-weight: 400;
}

.applied {
	background: #00677a;
	color: #E1FBFF;
	font-weight: 300;
}

.loading {
	margin: 1.5rem 0;
}
